input{
  border: 1px solid #e9e9e9;
  height: 42px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
input::placeholder{
  color: #aaa;
}
input:focus:invalid:required::placeholder{
  color: #c80000;
}
  input:focus:invalid:required {
  background-position: right top;
  background-repeat: no-repeat;
  box-shadow: none;
  border-color: #c80000;
  color:#c80000;
}
input:required:valid {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAKCAMAAACzB5/1AAAAVFBMVEUAOmAAO2AAO2EAPGEAPWEAUXIAUnMAVXYJZIM3eJI3eZJbj6SOsL+OsMCPsMCgvMmgvcmgvcq7z9nb5erb5urb5uvf6O3m7fD5+/z6+/z+/v7///95I7sTAAAAUUlEQVQI103MNwKAIADF0I+IFVTEhrn/PV1s2d4S8RX7U5+m0sz6SYGXo1UAsWeAWMoD2ur2gGg1ACg5dTlaBQBEcqax8txkrVQMvGSp/PO/AG3YC1nx7jJMAAAAAElFTkSuQmCC);
  background-position: right 10px center;
  background-repeat: no-repeat;
  border-color:transparent;
  font-weight:700;
  color: #01385f;
}
input[type="file"] {
  display: none;
}