button{
  color: white;
  background-color: #005c9d;
  height: 42px;
  text-align: center;
  font-family: 'open sans';
  font-weight: bold;
  border:none;
  box-shadow: none;
}
_:-ms-fullscreen, :root button{
  font-family:'open_sansregular';
}
