
input[type=file]{
  background-color: red;
}
.uploader-wrapper{
  display:table;
  width: calc(100% + 5px);
  table-layout: fixed;
  border-spacing: 5px;
}
.uploader-wrapper span, .uploader-wrapper label{
  display: table-cell;
  vertical-align: middle;
  font-family: 'open sans';
  font-weight: bold;
  font-size: 13px;
}
.uploader-wrapper label{
  display: table-cell;
  color: white;
  background-color: #005c9d;
  height: 42px;
  text-align: center;
}