form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-bottom: 40px;
}
form h3{
  grid-column: 1 / span 2;
  margin: 0;
}
form a{
  text-decoration: none;
  font-family: 'open sans';
  font-size: 12px;
  color: #aaa;
}
@media all and (max-width:60rem){
  form{
    grid-template-columns: 1fr;
  }
  form h3{
    grid-column: 1 / span 1;
  }
}