form{
  margin-bottom: 40px;
}
form .row{
  display: grid;
  grid-template:
  "col-1 col-2" / 
  1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem 0;
}
form .row .col-1{
  grid-area: col-1;
}
form .row .col-2{
  grid-area: col-2;
}
form .row .col-1 :first-child, form .row .col-2 :first-child{
  width: calc(100% - 2rem);
}


form h3{
  grid-area: row;
  margin: 1rem 0;
}
form a{ 
  text-decoration: none;
  font-family: 'open sans';
  font-size: 12px;
  color: #aaa;
}
@media all and (max-width:60rem){
  form .row{
    grid-template:
    "col-1 col-1"
    "col-2 col-2" / 
    1fr 1fr;
  }

}